@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb-area py-5 py-sm-0">
    <div class=" bg-shade text-center py-4">
        <a asp-controller="home" asp-action="index" class="  text-decoration-none text-white work-sans hover2 t-5">HOME </a>
        <span class=" text-white">/</span>
        <span class=" text-white work-sans">LOGIN</span>
    </div>
</section>

<!--====== Breadcrumb-Area End ======-->
<!--====== Login-Area Start ======-->
<div class="login-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 bg-white py-5 my-5">
                <div class="login">
                    <div class="login-text">
                        <h2 class="text-center">Login</h2>
                        <p class="text-grey2 text-center work-sans pb-4">Please login using account detail bellow.</p>
                    </div>
                    <div class="login-form px-4">
                        <form method="post">
                            <input asp-for="Email" class="shadow py-2 ps-3 border-0 work-sans  w-100" style="outline: none;" placeholder="Email">
                            <div class="d-flex shadow align-items-center justify-content-between">
                                <input asp-for="Password" class=" mt-4 work-sans py-2 ps-3 border-0 " style="outline: none;" placeholder="Password">
                                <i class="bi bi-eye-slash pe-3" style="cursor: pointer;" id="togglePassword"></i>
                            </div>
                            <div class="login-toggle-btn pt-5">
                                <div class="form-action-button d-flex align-items-center justify-content-between">
                                    <button type="submit" class="border-0 px-4 py-2 hover3 bg-transparent shadow t-5 work-sans" style="outline: none;">Sign In</button>
                                    <a asp-controller="account" asp-action="forgotpassword" class="work-sans  text-decoration-none text-grey2 hover5 t-5" id="">Forgot your password?</a>
                                </div>
                                <div class="account-optional-action pt-4">
                                    <a asp-controller="account" asp-action="register" class="text-decoration-none text-grey2 work-sans hover5 t-5">Create account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Login-Area End ======-->
